# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/


*.odt
*.odt#

src/main/java/org/gmart/codeGen/POCs/
src/main/java/org/gmart/codeGenExample/reflexions/
#src/main/java/org/gmart/codeGenExample/openApiExample/
src/main/java/org/gmart/codeGenExample/fsmExample/